@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
}
.bg {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(150deg, #232526, #414345);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 80vw;
  height: 70vh;
  background: linear-gradient(
    130deg,
    rgb(241, 228, 228),
    rgba(255, 255, 255, 0.87)
  );
  box-shadow: 1px 1px 50px rgb(0, 132, 255);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#heading
{
  font-weight: bolder;
  font-size: 40px;
}
.weightrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid rgb(224, 225, 226);
  border-radius: 10px;
}
input[type="range"] {
  width: 60%;
  height: 4px;
}
#bmi-val
{
  color: rgb(0, 132, 255);
  font-weight: bolder;
  font-size: 40px;
}
#bmi-status
{
  font-size: 20px;
  font-weight: bolder;
}

@media screen and (min-width:500px) {
  .box{
    width: 50vw;
  }
}
